@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo'
}
p{
    font-family: 'Lato';
}
.top-title{
    display:flex;
    justify-content: space-between;
    margin-bottom:30px;
}
.info{
    display:flex;
    flex-direction: column;
    gap:-50px;
    color:rgb(106, 105, 105);
}
.profile_info{
    display:flex;
    flex-direction: row;
    padding-right:20px;
    align-items: center;
    gap:10px;
}
#top-section{
    display:flex;
    flex-direction: row;
    justify-content: start;
    margin-left:30px;
    gap: 40px;
}
#top-cards{
    width:300px;
    height: 150px;
    border: 1px solid rgba(168, 165, 165, 0.377);
    border-radius:25px;
    padding-left:15px;
    padding:10px 20px;
    margin-top:20px;
}
#top-cards:hover{
    transform: scale(1.1);
    transition-duration:0.2s;
    box-shadow: 2px 2px 2px 2px rgb(196, 194, 194);
}
.Projects{
    display:flex;
    flex-direction: column;
    gap:10px;
    border:0.6px solid rgba(138, 134, 134, 0.341);
    border-radius: 25px;
    padding: 30px;
    margin:20px;
}
.project-card{
    display: flex;
    flex-direction: column;
    border:0.6px solid rgba(138, 134, 134, 0.341);
    height:auto;
    border-radius: 25px;
    padding:20px;
    gap:-20px;
}
.project-card p{
    font-weight: 300;
}
.project-card h3,
.project-card p{
    margin:9px 0;
}
#link{
    display: flex;
    flex-direction: row;
    gap:10px;
}
.btn{
    display:inline-block;
    padding:10px 18px;
    background-color:black;
    color:white;
    text-decoration:none;
    border:none;
    border-radius:10px;
    cursor:pointer;
    margin-top: 10px;
}
.btn:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.top-title{
    padding-left:30px;
    padding-top:20px;
}
.clear-btn{
    padding:8px 14px;
    background:black;
    color:white;
    text-decoration:none;
    border-radius:5px;
    height:35px;
}
.search input{
    border-radius: 10px;
    width:400px;
    height:40px;
    padding:10px;
}
.submit{
    height:35px;
    border-radius:5px;
    color:white;
    background-color: black;
    padding:8px 14px;
    cursor: pointer;
}
.top-container{
    display: flex;
    flex-direction: row;
}
#assign-project{
    margin-left:auto;
    margin-right:20px;
}
.assign-btn{
    background-color: black;
    color: white;
    padding:8px 14px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
.choice-button{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-bottom:10px;
    width:200px;
    border-radius:30px;
    background-color: rgb(0, 0, 0);
}
#Due{
    width:100px;
    height:40px;
    border-radius: 15px;
    border: 1px solid black;
}
#Submitted{
    width:100px;
    height:40px;
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
}
.active{
    background-color: black;
    color:white;
}
.upload{
    background-color: black;
    color: white;
    padding:8px 14px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    width:150px;
    font-weight: 100;
    font-size: medium;
    align-items: center;
    margin-top:10px;
}
.upload a{
    text-decoration: none;
    color: white;
}
.modal{
    display:none;

    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.5);

    justify-content:center;
    align-items:center;

    z-index:1000;
}
.modal-content{
    background:white;

    width:600px;
    max-width:90%;

    padding:20px;

    border-radius:10px;

    position:relative;

    max-height:80vh;
    overflow-y:auto;
}
#closeModal{
    position:absolute;
    top:10px;
    right:15px;
    font-size:28px;
    cursor:pointer;
}
