body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    margin:0;
}

.form-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border:1px soild rgba(0, 0, 0, 0.597);
    width:400px;
    padding:30px;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:10px;
    width:300px;
}
input{
    width:300px;
    height: 35px;
}
label{
    margin:10px;
}
#final{
    margin:15px;
    height:40px;
    border-radius: 15px;
    color:white;
    background-color: black;
}
#choice-button{
    display: flex;
    flex-direction: row;
    gap:10px;
}

